@import url(https://fonts.googleapis.com/css?family=Roboto);

:global{

  .app-container{
    font-family: 'Roboto',sans-serif;
  }
  .index-header{

  }
  .main-row{
    outline: 2px solid darkgray;
    padding:0 0 4px 0;
    margin-bottom:2px;
  }
  .hidden-row{
    outline: 2px solid darkgray;
    .row-detail{
      display: none;
    }
  }
  .column-header{
    background-color: #1A5276;
    padding:6px 3px 9px 6px;
    a,a:visited,a:hover,a:active{
      color: #F7F9F9;
      padding-left: 2px;
    }
    button{
      float:right;
      clear:none;
    }
  }
  .contact-detail{
    padding-top:0.75em;
  }

  .location-detail{
    p{
      line-height: 0.5;
    }
  };

}
