@import url(https://fonts.googleapis.com/css?family=Roboto);.app-container {
  font-family: 'Roboto',sans-serif; }

.main-row {
  outline: 2px solid darkgray;
  padding: 0 0 4px 0;
  margin-bottom: 2px; }

.hidden-row {
  outline: 2px solid darkgray; }
  .hidden-row .row-detail {
    display: none; }

.column-header {
  background-color: #1A5276;
  padding: 6px 3px 9px 6px; }
  .column-header a, .column-header a:visited, .column-header a:hover, .column-header a:active {
    color: #F7F9F9;
    padding-left: 2px; }
  .column-header button {
    float: right;
    clear: none; }

div.main-row.row div.row-detail {
  margin-right: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  background-color: #eee;
  padding-left: 1em; }
  div.main-row.row div.row-detail .location-detail {
    flex: 1; }
    div.main-row.row div.row-detail .location-detail p {
      line-height: 0.5; }
  div.main-row.row div.row-detail .name-detail {
    -webkit-order: -1;
    order: -1;
    align-self: flex-start;
    flex: 1; }
  div.main-row.row div.row-detail .contact-detail {
    flex: 1;
    padding-top: 0.75em; }

div.row-detail:nth-child(even) {
  background-color: silver; }

#style__CSVload___3wWH2 {
  background-color: silver;
  z-index: -9999; }
